<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>REST API - HEADLESS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style rel="stylesheet">
            .body-props{
                background-color: rgb(236, 236, 236);

            }
            .container{
                width: 76%;
                margin: auto;
            }
            .container-title{
                text-align: center;
                padding: 25%;
            }
            .list{
                list-style: none;
                font-size: 24px;
            }
        </style>
    </head>
    <body class="body-props">
        <main class="container">
            <div class="container-title">
                <h1>RESTAPI - ADVANCED</h1>
                <h2>STATUS - SERVER UP AND RUNNING</h2>
                <ul class="list">
                    <li>MongoDB</li>
                    <li>EXPRESS</li>
                    <li>Nodejs</li>
                    <li>Passport.js</li>
                    <li>SESSION_ID</li>
                </ul>
            </div>
        </main>
        
    </body>
</html>