/* defining container */
.dashboard__container-large {
  grid-gap: 2.5rem;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 2.5rem;
}

.dashboard__container-medium {
  grid-gap: 2.5rem;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2.5rem;
}

.dashboard__container-small {
  grid-gap: 2.5rem;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2.5rem; 
}

/* defining block */
.block__content{
  width: 100%;
  box-shadow: 1px 1px 1px 1px gray;
  padding:20px;
  border-radius: 20px;
  background:white;
}