.section_hidden {
  display: none;
}

.profile__nav {
  margin-top: 0px;
}

.profile__email {
  margin-bottom: 10px;
  color: var(--color-primary);
  font-weight: 600;
}
.profile__info-parent {
  padding-left: 3px;
  padding-top: 3px;
}

.profile__nav-list > li > a {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 18px;
}
.profile__nav-list > li > a:hover {
  color: var(--color-primary-alternative);
}

.title-profile {
  color: var(--color-light-black);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}

.title-profile:not(:last-child) {
  margin-bottom: 0px;
}
.tile.is-parent {
  transition: var(--transition);
}

/* content section */
.profile__content {
  padding: 10px;
}
.profile__label {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
}
.profile__info-child, .profile__info-child > a {
  color: var(--color-light-black);
  font-size: 18px;
}
.profile__info-child > a:hover {
    color: var(--color-primary-alternative);
    font-size: 18px;
  }

.profile__picture-parent {
  position: relative;
  width: 40%;
  height: auto;
}
.profile__picture {
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.profile__extra-option {
  position: absolute;
  width: 100%;
  height: 100.5%;
  background-color: rgba(255, 255, 255, 0.781);
  bottom: 0px;
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
  transition: var(--transition);
}
.profile__picture:focus {
    outline: none !important;
    box-shadow: 0 0 10px var(--color-primary-alternative);
  }
.profile__extra-links {
  margin: 25% auto auto auto;
  vertical-align: middle;
}

#avatar{
    visibility: hidden;
}

/* form components */
.form-input-neutral{
    border: none;
    background-color: transparent;
}

.form-input{
    border: 2px solid var(--color-primary);
    padding: 5px;
    border-radius: 3px;
}

.form-textarea{
    width: 100%;
    min-height: 200px;
    max-height: 500px;
    height: auto;
    border: 2px solid var(--color-primary);
    padding: 5px;
    border-radius: 3px;
}

.form-input:focus {
    outline: none !important;
    box-shadow: 0 0 10px var(--color-primary-alternative);
  }
  .form-textarea:focus {
    outline: none !important;
    box-shadow: 0 0 10px var(--color-primary-alternative);
  }

  /* END FORM */

  .profile__link-alert{
  color: var(--color-primary);
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
  }
  #action_delete,#popup_delete{
      margin-top: 10px;
  }

  @media screen and (max-width: 1023px){
    .navbar {
        background-color: #fff;
        min-height: auto;
        }
        .form-input{
            width: 100%;
        }
}